.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
.clearfix { display: block; clear:both; float:none; }

.hauto{
  width: 100%;
  height: auto;
}
.hauto:after{
    content: "";
    display: block;
    clear: both;
}

.line-top{
	position: relative;
}

.line-top:after{
	position: absolute;
	content: '';
	top: 0;
	left: -50%;
	right: -50%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	border-bottom: 1px solid #EDEDED;
}

.line-bot{
	position: relative;
}

.line-bot:after{
	position: absolute;
	content: '';
	bottom: 0;
	left: -50%;
	right: -50%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	border-bottom: 1px solid #EDEDED;
}

.w95{
	width: 95%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.w92{
	width: 92%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.w90{
	width: 90%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.r95{
	width: 3.5rem;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}

.heght-line{
	position: relative;
}
.heght-line::after{
	content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.1rem;
    width: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    background: #f5f5f5;
}

.test {
    position: relative;
}
.test:after {
    position: absolute;
    right: 15px;
    top: 18px;
    width: 0;
    height: 0;
    content: "";
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}


/*********************垂直分割线*************************/
.reg{
	position: relative;
}
.reg:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: .12rem;
	  height: .3rem;
	  width: 1px;
	  transform: scaleX(.5);
	  background: black;
   }
   